.base {
  display: flex;
}

body{
  background-color: #E0ECF8;
  margin:0;
}

.darkmode{
    background-color: grey;
}

button{
  background-color: grey;
  border-radius: 30px;
  height: 30px;
  weight: 10px;
}


header{
  background-color: lightgrey;
  position: absolute;
  flex-direction: row;
  height: 45px;
  width: 100%;
  padding-bottom: 5px;

}

section.links{
  width: 30%;
  display: inline-flex;
}

section.mitte{
  padding-left: 100;
}

section.rechts{
  display: inline-flex;
  position: absolute;
  float: right;
  left: 75%;
  width: 30%;
  /* padding-left: 75%; */
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: 0;
}

div.ueberschrift{
  float: left;
  font-family: monospace;
  font-size: 50px;
  padding-left: 5px;
  text-align: center;
  justify-content: center;
}

main{
  background-color: #A4A4A4;
  border:2px double black;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  text-align:  center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.genauer{
  position:relative;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #6E6E6E;
  padding-bottom: 10px;
  width: 60%;
  left: 20%;
}

a.quelle:link{
  color: black;
}
a.quelle:visited{
  color: #DF7401;
}
a.quelle:hover{
  color: green;
}
a.quelle:active{
  color: red;
}

a.unter{
  text-decoration: none;
}

footer{
  border-top: 1px solid black;
  border-radius: 20px;
  background-color: lightgray;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
  top: 83%;
  width: 100%;
}

span{
  background-color: white;
  font-size:30px;
}


.mittig {
  text-align: center;
}
