body{
  background-color: #E0ECF8;
  margin:0;
}

header{
  background-color: lightgrey;
  position: absolute;
  display:flex;
  flex-direction: row;
  height: 45px;
  width: 100%;
  padding-bottom: 5px;

}
section.links{
  width: 15%;
}
section.mitte{
  width: 35%;
}

section.rechts{
  float: right;
  width: 50%;
  padding-left: 50%;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.ueberschrift{
  float: left;
  font-family: monospace;
  font-size: 50px;
  padding-left: 5px;
  text-align: center;
  justify-content: center;
}

nav{
  position: absolute;
  top: 8%;
  width: 20%;
  height:85%;
}
main{
  position: absolute;
  top: 8%;
  left: 20%;
  width: 60%;
  height: 85%;
}
aside{
  position: absolute;
  top: 8%;
  left: 80%;
  width: 20%;
  height: 85%;

}

a.quelle:link{
  color: blue;
}
a.quelle:visited{
  color: #DF7401;
}
a.quelle:hover{
  color: green;
}
a.quelle:active{
  color: red;
}

a.unter{
  text-decoration: none;
}

footer{
  border-top: 1px solid black;
  background-color: lightgray;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
  top: 90%;
  width: 100%;
}

span{
  background-color: green;
  font-size:30px;
}


.mittig {
  text-align: center;
}
