body{
  background-color: #E0ECF8;
  margin:0;
}

.darkmode{
    background-color: grey;
}

button{
  background-color: grey;
  border-radius: 30px;
  height: 30px;
  weight: 10px;
}

article{
  background-color: lightgrey;
  position: absolute;
  display:flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  padding-bottom: 5px;
}

header{
  /* background-color: lightgrey;
  display:flex;
  flex-direction: row; */
  /* position: absolute; */
  position: fixed;
  height: 8%;
  width: 100%;
  /* padding-bottom: 5px; */

}

menu{
  position: fixed;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: lightgrey;
  top: 8%;
  width: 20%;
  height:100%;
  margin: 0;
  padding: 0;
}
main{
  position: absolute;
  padding-top: 15px;
  top: 80%;
  left: 20%;
  width: 60%;
  height: 50%;
}
aside{
  position: absolute;
  top: 8%;
  left: 80%;
  width: 20%;
  height: 85%;
}

section.links{
  width: 15%;
}
section.mitte{
  width: 35%;
}

section.rechts{
  float: right;
  width: 50%;
  padding-left: 50%;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.ueberschrift{
  float: left;
  font-family: monospace;
  font-size: 50px;
  padding-left: 5px;
  text-align: center;
  justify-content: center;
}


a.quelle:link{
  color: black;
}
a.quelle:visited{
  color: #DF7401;
}
a.quelle:hover{
  color: green;
}
a.quelle:active{
  color: red;
}

a.unter{
  text-decoration: none;
}

footer{
  border-top: 1px solid black;
  background-color: lightgray;
  /* padding-top: 4px; */
  padding-top: 4px;;
  padding-bottom: 4px;
  position: absolute;
  top: 180%;
  width: 100%;
}

span{
  background-color: white;
  font-size:30px;
}

.mittig {
  text-align: center;
}

#cookie-popup {
  text-align: center;
  background: #fff;
  position: fixed;
  top: 0px;
  left: 30%;
  right: 30%;
  width: 40%;
  z-index: 9999;
  font-size:14px;
  line-height:20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }

#cookie-popup.hidden {
  display: none;
}

#abstand1{
  padding-right: 5px;
}

#abstand2{
  padding-right: 5px;
  font-size: 18px;
}

.sidenav {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 10px;
  /* background: #eee; */
  overflow-x: hidden;
  /* padding: 8px 0; */
  /* text-align: center; */
}

.gliederung{
  text-align: center;
  font-size: 32px;
}

#kasten{
  /* border-radius: 5px;
  border:1px solid black; */
  font-size: 30px;
  padding-bottom: 5px;
}
